@import url("https://fonts.googleapis.com/css2?family=Karma:wght@400;700&family=Life+Savers:wght@400;700;800&family=Lora:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
}

// Color theme
$main: #2a3232;
$second: #f3f2db;
$third: #af8669;
$accent: #714029;

// Fonts
$font-main: "Life Savers", cursive;
$font-sub: "Lora", serif;
$font-reg: "Karma", serif;
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
  background-color: $main;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  width: fit-content;
  margin: 0 auto;
  padding: 3em 5em;
  border-radius: 50px;
  header {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 1em;
    img {
      max-height: 150px;
      margin-bottom: 10px;
    }
  }
}
h1 {
  font-family: $font-main;
  font-size: 5rem;
  margin: 0;
  color: $second;
  font-weight: 900;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.468);
}
.player {
  margin-top: 2em;
  padding: 1em 0;
  border-radius: 50px;
  border: 5px solid $accent;
  background-color: $second;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  color: $accent;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  div {
    display: flex;
    justify-content: space-evenly;
  }
  p {
    margin: 10px 0 0;
    font-family: $font-sub;
    font-weight: 600;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
  }
}
.controllerBtn {
  background: none repeat scroll 0 0 transparent;
  border: medium none;
  border-spacing: 0;
  color: $accent;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1.42rem;
  list-style: none outside none;
  margin: 0;
  padding: 0;
  text-align: left;
  text-decoration: none;
  text-indent: 0;
  background-color: $third;
  border-radius: 50%;
  padding: 15px;
  border: 5px solid $accent;
  cursor: pointer;
  box-shadow: inset 0px 0px 3px $accent;
  transition: background-color 0.3s, color 0.3s;
  .icon {
    color: $second;
    filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.3));
  }
  &:hover {
    background-color: $accent;
  }
}
.weather {
  display: flex;
  justify-content: space-between;
  margin: 1em auto 0;
  max-width: 600px;
  width: 100%;
  .weatherCard {
    text-align: start;
    padding: 1em;
    background-color: $third;
    color: $second;
    text-shadow: 1px 1px 2px $accent;
    border-radius: 10px;
    border: 5px solid $accent;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    h2 {
      font-family: $font-sub;
      font-weight: 900;
      font-size: 2.5rem;
      text-align: center;
    }
    .desc {
      font-size: 1.5rem;
    }
    .mainInfo {
      display: flex;
      align-items: center;
      font-size: 2.2rem;
      font-family: $font-reg;
      gap: 1em;
      line-height: normal;
      .icon {
        display: flex;
        align-items: center;
        font-size: 4.4rem;
        margin: 0;
      }
      div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        p {
          margin: 0;
        }
      }
    }
  }
}
.updateWeather {
  @extend .controllerBtn;
  background-color: $second;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  width: 180px;
  height: 50px;
  text-align: center;
  color: $accent;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  margin: 1em auto 0;
  &:hover {
    color: $second;
  }
}
.madeBy {
  position: absolute;
  background-color: #2a3232a5;
  text-shadow: 0px 0px 4px black;
  padding: 0.2em;
  border-radius: 10px;
  bottom: -60px;
  right: 50px;
  a {
    color: rgb(255, 133, 58);
  }
}
@media only screen and (max-width: 700px) {
  #root {
    padding: 0;
  }
  header {
    max-width: 340px;
    height: auto;
    flex-direction: column-reverse;
    margin: 0 auto;
    h1 {
      font-size: 3rem;
    }
    img {
      margin: 0 auto;
    }
  }
  main {
    border-radius: 0;
    box-shadow: none;
    width: auto;
    padding: 1em;
    margin: 0;
  }
  .player {
    max-width: 340px;
    width: auto;
    padding: 1em;
  }
  .controllerBtn {
    font-size: 2rem;
    padding: 10px;
    height: fit-content;
    margin: auto;
  }
  .weather {
    flex-direction: column;
    gap: 1em;
    max-width: 340px;
    width: auto;
    margin: 0 auto;
    .weatherCard {
      padding: 1em 3em;
    }
    .mainInfo {
      justify-content: space-between;
      div {
        flex-direction: row;
      }
    }
  }
  .madeBy {
    bottom: -60px;
    right: 100px;
  }
}
