#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
}
.player {
  div {
    display: flex;
    flex-direction: column;
    place-items: center;
  }
}
