#board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 0;
  grid-template-rows: 1fr;
  list-style: none;
  max-width: 800px;
  margin: 3rem auto 0;
}
.tile {
  height: 100%;
  width: 100%;
  min-height: 200px;
  min-width: 200px;
}
.tileBtn {
  border: 1px solid rgb(58, 58, 58);
  background-color: white;
  width: inherit;
  height: inherit;
  cursor: pointer;
}
