.layout {
  text-align: center;
  color: #dddddd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
h2 {
  margin-top: 0;
  color: #dddd3f;
}

a {
  color: #61dafb;
}
ul {
  list-style: none;
  text-align: center;
  padding: 0;
}
.pokemon {
  margin-bottom: 3em;
  border: 1px solid grey;
  padding: 1em 2em;
}
